<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<title>Wikipedia</title>
</head>
<body>
	{{> wikipedia/partials/title }}
	{{> wikipedia/partials/search }}
	<h2>An error has occured</h2>
	<pre>
		{{error}}
	</pre>
</body>
<html>