<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<title>Wikipedia</title>
</head>
<body>
	{{> wikipedia/partials/title }}
	{{> wikipedia/partials/search }}
</body>
<html>