<ul>
	<li><a href="{{{page.url.summary}}}">Summary</a></li>
	<li><a href="{{{page.url.page}}}">Content</a></li>
	<li><a href="{{{page.url.images}}}">Images</a></li>
	<li><a href="{{{page.next.url}}}">{{page.next.title}}</a></li>
	<li><a href="{{{page.prev.url}}}">{{page.prev.title}}</a></li>
</ul>